body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.flexContainer{
    display:flex;
    align-content:center;
}
.scheduleUploadContainer{
    width:auto; 
}

.friendsListContainer{
    margin-left:10px;
    margin-right:10px;
    flex-grow:1;
}