extends layout

block content
    h1 iCalMatch
    p Welcome to iCalMatch
    

    form(id="loginForm" method="post" action="/login")
        div
            label Username:
                input(type="text" name="username" value=carryOverUsername || "" required)
        div
            label Password:
                input(type="password" name="password" required)
        div
            input(type="submit" id="submit" value="Login")
    if errorMsg
        br
        p=errorMsg
        div
            form(id="registerButton" method="get" action="/register")
                input(type="submit" id="btnRegister" value="Register")
